body{
    background-color:grey
    ;
}

h1{
    text-align: center;
    margin:auto; 
    border-bottom:solid; 
    padding: 10px; 
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px #555;
}

marquee{
    margin: 25px;
    font-size: larger;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Montserrat', sans-serif;  
    text-transform: uppercase;
}

.taskDiv {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 66%;
    max-height: 80vh;
    margin: auto; 
    vertical-align: middle;
}

.taskDiv label,
.taskDiv input {
    margin: 5px;
}

.taskDiv input[type="text"],
.taskDiv input[type="time"],
.taskDiv input[type="date"] {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc; 
    border-radius: 8px; 
}

.buttonDiv {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.addTaskButton {
    background-color: #ffd700; 
    color: white; 
    text-shadow: 1.5px 1.5px #555;
    padding: 6px 10px; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
}

.addTaskButton:hover {
    background-color: #ddc332; 
}


#taskContainer {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: flex-start; 
    margin: 50px;
}


.taskItem {
    position: relative;
    background-color: #ffd700;
    padding: 10px;
    margin: 10px;
    border: 2px solid #ffd700;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.5s ease-in-out;
    height: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.taskItem .deleteButton {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-size: 16px;
    display: none;
}

.taskItem:hover .deleteButton {
    display: block;
}

.taskItem .taskDate,
.taskItem .taskTime {
    font-size: 12px;
    color: #555;
    margin-top: 5px;
    height: 23px;
    display: inline-block;
    vertical-align: top;
    width: 100px;
    margin: 5px;
    text-align: left;
}

.taskItem .taskText {
    overflow-y: auto;
    height: 100px;
    display: inline-block;
    vertical-align: top;
    width: 100px;
    margin: 5px;
    text-align: left;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

